# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/*
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/*
.factorypath

# Nova
.nova/*

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
kubernetes/overlays/dev/local/gateway/configmap/host.yaml
kubernetes/overlays/dev/local/gateway/configmap/host.yaml.bak
kubernetes/overlays/dev/local/hmi/server/configmap/host.yaml
kubernetes/overlays/dev/local/hmi/server/configmap/host.yaml.bak
