@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:root {
    --un-color-accent-darker: #133013ff;
	--un-color-accent-dark: #1C5A1Cff;
	--un-color-accent: #2D8E2Dff;
	--un-color-accent-light: #92E192ff;
	--un-color-accent-lighter: #E4FAE4ff;

    /* Uncharted Design Tokens */
    /* https://github.com/unchartedsoftware/design-tokens/blob/main/build/css/uncharted-tokens.css */
    --un-font-xlarge: 400 1.125rem/1.75rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-large: 400 1rem/1.5rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-body: 400 0.875rem/1.25rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-small: 400 0.75rem/1rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}

body {
    font: var(--un-font-body);
    margin: 0;
}

/*Get rid of keycloak title*/
div#kc-header-wrapper,
div#kc-header,
.login-pf-page-header {
    display: none;
}

.login-pf-page {
    display: flex;
    align-items: center;
    height: 100%;
}

.login-pf-page::before {
    content: "Welcome to theknowledge-modeling-simulationecosystem built for researchers.Empowered with the AI approachesand tools needed for the agile creation,sustainment, and enhancement ofcomplex models and simulators thatinform decision-making in diverse missionsand scientific domains.Evaluate and contribute toan accelerating scientific landscape.";
    display: flex;
    font-size: 1rem;
    width: 50%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    background: var(--un-color-accent-lighter);
    padding: 2rem;
}

.login-pf body {
    background: none;
}

@media (max-width: 767px) {
    .login-pf-page .login-pf-page-header {
        margin-bottom: 0%;
    }

    .login-pf body {
        background: none;
    }
}

.login-pf a:hover {
    color: var(--un-color-accent-darker)
}

.login-pf a {
    color: var(--un-color-accent);
}

.card-pf {
    border: none;
}

div#kc-form-options {
    display: none;
}

h1 {
    font-weight: normal;
    margin-bottom: 0%;
}

form#kc-form-login {
    margin-top: 3rem;
}

/* label change Username, Password text*/
div#kc-form label {
    display: block;
    color: var(--un-color-accent-darker);
    font-size: small;
}

/*fields and button*/
input[type=text], input[type=password], input[type=submit] {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    border-radius: 3px;
}

/*fields*/
input[type=text], input[type=password] {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
}

/*button*/
input[type=submit].pf-c-button.pf-m-primary {
    border: none;
    background-color: var(--un-color-accent);
    color: white;
    cursor: pointer;
    padding: 0.66em;
}

input[type=submit]:hover.pf-c-button.pf-m-primary {
    background-color: var(--un-color-accent-light);
}

span#input-error {
    display: block;
    color: darkred;
    font-size: 1rem;
}
