@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:root {
    --un-color-accent-darker: #133013ff;
	--un-color-accent-dark: #1C5A1Cff;
	--un-color-accent: #2D8E2Dff;
	--un-color-accent-light: #92E192ff;
	--un-color-accent-lighter: #E4FAE4ff;

    /* Uncharted Design Tokens */
    /* https://github.com/unchartedsoftware/design-tokens/blob/main/build/css/uncharted-tokens.css */
    
    --un-color-white: #ffffffff;
    
    --un-color-feedback-danger-darker: #3f1515ff;
    --un-color-feedback-danger-dark: #840d0dff;
    --un-color-feedback-danger: #de1b1bff;
    --un-color-feedback-danger-light: #f9aeaeff;
    --un-color-feedback-danger-lighter: #faf0f0ff;

    --un-font-xlarge: 400 1.125rem/1.75rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-large: 400 1rem/1.5rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-body: 400 0.875rem/1.25rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --un-font-small: 400 0.75rem/1rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

    --un-color-body-text-disabled: #747576ff;
    --un-color-body-text-secondary: #48494aff;
    --un-color-body-text-primary: #020203ff;
}

/* Hide unwanted element */
#kc-header {
   display: none;
}

body {    
    color: var(--un-color-body-text-primary);
    display: flex;
    font: var(--un-font-body);
    margin: 0;
    min-height: 100vh;
}

aside,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
}

aside {
    background-color: var(--un-color-accent-lighter);
}

aside img {
    max-width: 12rem;
    display: block;
    margin-bottom: 2rem;
}

aside p {
    font: var(--un-font-xlarge);
    margin: 1em 0 0;
    max-width: 33ch;
}

h1 {
    font-weight: normal;
}

/* label change Username, Password text*/
label {
    display: block;
    color: var(--un-color-body-text-secondary);
    margin-bottom: .33em;
    margin-top: 1.66em;
}

input {
    box-sizing: border-box;
    color: var(--un-color-body-text-primary);
    cursor: pointer;
    font: var(--un-font-body);
    border-radius: 4px;
    width: 100%;
}

input[type=text],
input[type=password] {
    background-color: var(--un-color-white);
    padding: .66em;
    border: 1px solid gray;
}

input[type=submit] {
    border: none;
    background-color: var(--un-color-accent);
    color: var(--un-color-white);
    margin-top: 2em;
    padding: 0.66em;
}

input[type=submit]:hover {
    background-color: var(--un-color-accent-light);
}

input[type=submit]:active {
    background-color: var(--un-color-accent-dark);
}

#input-error {
    display: block;
    color: var(--un-color-feedback-danger);
}
